<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {// 加载CSS样式}
    {load href="__LAYUI__/css/layui.css"/}
    {load href="__LAYUI__/css/admin.css"/}

</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-row layui-col-space15">
            <!--                可用设备-->
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">可用设备（总台数/故障台数）</div>
                    <div class="layui-card-body">

                        <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                            <div carousel-item>
                                <ul class="layui-row layui-col-space10">

                                    {if !empty($list1)}
                                    {foreach name="list1" item="vo"}
                                    <li class="layui-col-xs3">
                                        <a lay-href="home/homepage1.html">
                                            <i class="layui-icon " style="font-size:20px;color:#009688;">{$vo['total']}/{$vo['halt']}</i>
                                            <cite>{$vo['name']}</cite>
                                        </a>
                                    </li>
                                    {/foreach}
                                    {/if}
                                </ul>
                                <ul class="layui-row layui-col-space10">
                                    {if !empty($list2)}
                                    {foreach name="list2" item="vo"}
                                    <li class="layui-col-xs3">
                                        <a lay-href="home/homepage1.html">
                                            <i class="layui-icon " style="font-size:20px;color:#009688;">{$vo['total']}/{$vo['halt']}</i>
                                            <cite>{$vo['name']}</cite>
                                        </a>
                                    </li>
                                    {/foreach}
                                    {/if}
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--                代办事项-->
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">待办事项</div>
                    <div class="layui-card-body">

                        <div class="layui-carousel layadmin-carousel layadmin-backlog">
                            <div carousel-item>
                                <ul class="layui-row layui-col-space10">
                                    <li class="layui-col-xs6">
                                        <!--<a href="javascript:;" class="layui-menu-tips" data-type="tabAdd" data-tab-mpi="m-p-i-1" data-tab="/index/catagory/index" target="_self">-->
                                            <!--<i class="iconfont zspicon-lanmu"></i>-->
                                            <!--<span class="layui-left-nav"> 设备名称</span>-->
                                        <!--</a>-->
                                        <a href="../workorder/index" class="layadmin-backlog-body" target="_self">
                                            <h3>待接修</h3>
                                            <p><cite>{$waiting}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs6">
                                        <a href="../workorder/index" class="layadmin-backlog-body">
                                            <h3>待确认</h3>
                                            <p><cite>{$ongoing}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs6">
                                        <a href="../workorder/index" class="layadmin-backlog-body">
                                            <h3>待结算</h3>
                                            <p><cite>{$unpay}</cite></p>
                                        </a>
                                    </li>

                                </ul>
                                <!--                                    <ul class="layui-row layui-col-space10">-->
                                <!--                                        <li class="layui-col-xs6">-->
                                <!--                                            <a href="javascript:;" class="layadmin-backlog-body">-->
                                <!--                                                <h3>待强检</h3>-->
                                <!--                                                <p><cite style="color: #FF5722;">5</cite></p>-->
                                <!--                                            </a>-->
                                <!--                                        </li>-->
                                <!--                                    </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <!--            资产信息-->
                <div class="layui-card">
                    <div class="layui-card-header">资产信息</div>
                    <div class="layui-card-body layui-text">
                        <table class="layui-table">
                            <colgroup>
                                <col width="100">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>设备数量</td>
                                <td>
                                    {$total_items}台件
                                </td>
                            </tr>
                            <tr>
                                <td>资产总值</td>
                                <td>
                                    ¥{$total_amount}元
                                </td>
                            </tr>
                            <tr>
                                <td>本年增量</td>
                                <td>{$cur_items}台</td>
                            </tr>
                            <tr>
                                <td>本年新增金额</td>
                                <td>¥{$cur_amount}元</td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>

    </div>



</div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">设备每月新增数量趋势分析</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                                <div carousel-item id="LAY-index-dataview">
                                    <div></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{// 加载js文件}

{load href="__LAYUI__/layui.js"/}

<script>
    layui.config({
        base: '__JS__/res/' //静态资源所在路径
    }).extend({
        homepage: 'homepage' //主入口模块
    }).use(['homepage']);
</script>
</body>
</html>