{extend name="public:layer_layout"/}
{block name="css"}
{// 引入zTree样式}
{load href="__LAYEXT__/ztree/metroStyle.css"/}{/block}
{block name="main"}
<div class="auth-title">
    结算订单ID：<span class="text-fail text-bold" id="test">{$ids}</span>
</div>
<form class="layui-form" id="form1" lay-filter="component-form-element">
    <div class="layui-row layui-col-space10 layui-form-item">
        <div class="layui-form-item">
            <label class="layui-form-label">结算主体</label>
            <div class="layui-input-block">
                <select name="org_id" lay-filter="orgFilter" lay-verify="required" lay-reqText="结算主体不能为空">
                    <option value="">请选择</option>
                    {{volist name="orglist" id="org"}}
                    <option value="{$org.id}">{$org.name}</option>
                    {{/volist}}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">结算金额：</label>
            <div class="layui-input-block">
                <input type="text" name="amount" lay-verify="required" lay-reqText="金额不能为空" placeholder="请输入结算金额" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="memo"  placeholder="请输入备注" class="layui-textarea"></textarea>

            </div>
        </div>
        <input type="hidden" name="ids" value="{$ids}">
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" id="submit" lay-submit lay-filter="submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
            </div>
        </div>
    </div>
</form>
{/block}
{block name="lay_ext"}
<script>
layui.config({
    version: '1061458899',
    base: '__LAYEXT__/'
}).extend({
    ztree : 'ztree/ztree'
});
</script>
{/block}
{block name="javascript"}
<script>
    layui.use(['form', 'jquery'], function () {
        var form = layui.form,
            $ = layui.$;

        form.on('submit(submit)',function(data){
            // 加载层
            var loading = layer.msg('处理中，请稍后...', {
                icon: 16,
                shade: 0.2
            });
            $.ajax({
                url: '{:url("doCheckout")}',
                type: 'POST',
                dataType: 'json',
                data: $('#form1').serialize(),
                beforeSend: function(){},
                success: function(data){
                    layer.close(loading);
                    if (data.status == 1) {
                        layer.msg(data.message, {
                            time: 1500
                        },function(){
                            parent.window.location.reload();
                            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                            parent.layer.close(index);
                        });
                    } else if (data.status == 2) {
                        layer.alert(data.message, {
                            icon: 0,
                            skin: 'layer-ext-moon'
                        }, function() {
                            window.location.reload();
                        });
                    } else if (data.status == 0) {
                        layer.alert(data.message, {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        },function(){
                            window.location.reload();
                        });
                    }
                }
            });
            return false;
        });

    });


</script>
{/block}